body {
    margin: 10px 10px 10px 10px;
    background-image: url('GameConsolesPic.css');
    //I want to stretch this image background-repeat: no-repeat;
    width: 879px;
    height: 508px;
    padding: 0px 0px 0px 0px; 
}
